---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('April 11 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm a final year student on the University of Edinburgh's MPhys Physics with Year Abroad course, which is a five-year. 
	</p>

</Layout>
