---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('April 11 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm a final year student on the University of Edinburgh's MPhys Physics with Year Abroad course, which is a five-year integrated Masters where the student travels to a partner institute for their fourth year to complete a year of full-time academic research, replacing formal teaching. I chose to attend the University of Melbourne, to perform astrophysical research using convolutional neural networks to photometrically identify the oldest galaxies in the Universe. After this placement, I undertook a researcg internship with the STFC/ROE measuring the chemical composition of different galaxies spectroscopically, looking for trends between composition and galaxy mass. For my Masters thesis, I derived a time-symmetric formulation for gravitational wave emission from particles, and explored the resulting effect on their trajectories, as well as the necessity of boundary conditions set by the Big Bang. Throughout my degree I have become proficient in Python and have explored C++.
	</p>

	<p>
		Throughout my degree I have tried to broaden my knowledge as much as possible - studying a suite of general physics courses, as well as specialising in galaxies and gravitational physics to expand my knowledge of these areas. Outside of my studies, I have enjoyed participating in the University of Edinburgh's rocketry team, endeavour, as well as the University of Melbourne's rocketry team, ARES. I have spent three years developing high-powered rocket airframes, and as a result I have been inspired to pursue a career in mechnical/aerospace engineering. 
	</p>

</Layout>
