---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title=Contact description=Contact />
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align: center;"> About Me </h1>
			<p>
				Hi!
			</p>
		</main>
		<Footer />
	</body>
</html>
