---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				Welcome to my portfolio! My name is Jack Liken (or formally, John Liken), and with this website I hope to showcase my physics research and work in scientific programming and engineering. You can learn more about me on the <a href="/about">About Me</a> page, and I will post updates on my professional work on the <a href="/projects/physics">Physics</a>, <a href="/projects/engineering">Engineering</a>, and <a href="/projects/programmming">Programming</a> pages.
			</p>
		</main>
		<Footer />
	</body>
</html>
