---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title=Resume description=Resume />
		<style>
			section {max-width: 800px;
	  				 margin: 0 auto;}
	
			.entry {display: flex;
		  			justify-content: space-between;
		  			align-items: flex-start;
		  			margin-bottom: 1.5rem;}
		
			.left {display: flex;
		  			flex-direction: column;}
		
			.title {font-weight: 600;}
		
			.subtitle {font-size: 0.95rem;
		  				opacity: 0.8;}
		
			.right {white-space: nowrap;
		  			text-align: right;
		  			margin-left: 2rem;}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align: center;"> Resume </h1>
			<section>
			  <h2>Education</h2>
			
			  <div class="entry">
			    <div class="left">
			      <div class="title">Physics with Year Abroad, MPhys</div>
			      <div class="subtitle">(Predicted Grade: 1st Class Honours)</div>
			    </div>
			    <div class="right">2021–2026</div>
			  </div>
			
			  <div class="entry">
			    <div class="left">
			      <div class="title">Year Abroad Bachelor's Research, University of Melbourne</div>
			      <div class="subtitle">(Grade: 1st)</div>
			    </div>
			    <div class="right">2024–2025</div>
			  </div>
			</section>

			<section>
				<h2>Research Experience</h2>

				<div class="entry">
					<div class="left">
						<div class="title">Master's Thesis: University of Edinburgh</div>
						<div class="subtitle">Theoretically proposed time-symmetric gravitational wave emission from point particles, restoring causality with a boundary term from the Big Bang, and resulting gravitational self-force. Expanded into dual-universe model.</div>
					</div>
					<div class="right">Sep 2025-Apr 2026</div>
				</div>

				<div class="entry">
					<div class="left">
						<div class="title">Research Internship: University of Edinburgh</div>
						<div class="subtitle">Analysed physical conditions and chemical abundances of galaxies across cosmic time. Investigated high-redshift mass-metallicity relation and sources of ionisation within these galaxies, using UV & optical diagnostics.</div>
					</div>
					<div class="right">Jun 2025-Aug 2025</div>
				</div>

				<div class="entry">
					<div class="left">
						<div class="title">Bachelor's Thesis: University of Melbourne</div>
						<div class="subtitle">Photometrically identified high-redshift galaxies within the HST boRG survey. Developed CNNs to estimate galactic redshifts with imaging from CANDELS & 3D-HST surveys. Refined JWST MIRAGE code to improve image simulations, developed a CNN to predict galactic redshifts using simulated JWST imaging.</div>
					</div>
					<div class="right">Sep 2024-May 2025</div>
				</div>
			</section>

			<section>
				<h2> Work Experience </h2>

				<div class="entry">
					<div class="left">
						<div class="title">Lead Structures Engineer: endeavour</div>
						<div class="subtitle">
						<ul>
							<li>Supervised the design and manufacture of high-powered rocket airframes ASI-Va & b.</li>
							<li>Designed and currently developing competition airframes for Mach-26 (Gemini) & Launch for Change (Shredder).</li>
							<li>Completed analytical and computational structural analysis, force and stress calculations.</li>
							<li>Heavy CAD usage and technical documentation production.</li>
						</ul>
						</div>
					</div>
					<div class="right">Aug 2025-Jun 2026</div>
				</div>

				<div class="entry">
					<div class="left">
						<div class="title">Structures Engineer: endeavour</div>
						<div class="subtitle">
						<ul>
							<li>Designed the nose cone, payload bay, recovery bay, and associated bulkheads for IREC-ready competition rocket, Fulmair.</li>
							<li>Aided in the manufacture of ASI-IV & ADA-II high-powered rocket airframes, preparing the latter for Mach-25.</li>
						</ul>
						</div>
					</div>
					<div class="right">Sep 2023-Aug 2025</div>
				</div>

				<div class="entry">
					<div class="left">
						<div class="title">Structures Engineer: ARES</div>
						<div class="subtitle">
						<ul>
							<li>Contributed to desig of new structural housing for flight computer.</li>
							<li>Investigated new techniques for component optimisation.</li>
						</ul>
						</div>
					</div>
					<div class="right">Sep 2024-Feb 2025</div>
				</div>
			</section>

			<section>
				<h2>Programming Languages</h2>

				<div class="entry">
					<div class="left">
						<div class="title">Python</div>
						<div class="subtitle">Simulation of physical systems: solar system, projectiles, Ising model, SIRS model, electromagnetic fields. Data analysis: astrophysics data pipelines, particle physics detector data. Machine learning: galaxy redshift prediction, source classification, anomaly detection, signal filtering.</div>
					</div>
				</div>

				<div class="entry">
					<div class="left">
						<div class="title">HTML & CSS</div>
						<div class="subtitle">This website - constructed with astro framework, statically hosted by Github.</div>
					</div>
				</div>
			</section>	
		</main>
		<Footer />
	</body>
</html>
