---
import FormattedDate from './FormattedDate.astro';
const { posts } = Astro.props;
---

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/projects/${post.id}/`}>
        <img width={720} height={360} src={post.data.heroImage} alt="" />
        <h4 class="title">{post.data.title}</h4>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
      </a>
    </li>
  ))}
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 0;
  }
  li {
    width: calc(50% - 1rem);
  }
  li:first-child {
    width: 100%;
  }
</style>
