---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('projects'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Portfolio" description="Portfolio" />
    <style>
      main {width: 960px;} {/* JS comment syntax is also valid */}

      ul {display: flex; <!-- HTML comment syntax is valid in .astro files -->
          flex-wrap: wrap;
          gap: 2rem;
          list-style-type: none;
          margin: 0;
          padding: 0;}

      ul li {width: calc(25% - 1rem);}

      ul li * {text-decoration: none;
               transition: 0.2s ease;}

      ul li img {margin-bottom: 0.5rem;
                 border-radius: 2px;}

      ul li a {display: block;}

      .title {margin: 0;
              color: rgb(var(--black));
              line-height: 1;}

      .date {margin: 0;
             color: rgb(var(--gray));}

      .blurb {margin: 0.3rem 0 0;
              color: rgb(var(--gray));
              font-size: 0.9rem;
              line-height: 1.4;}

      ul li a:hover h4,
      ul li a:hover .date {color: rgb(var(--accent));}
      ul a:hover img {box-shadow: var(--box-shadow);}

      @media (max-width: 720px) {
        ul {gap: 0.5em;}
        ul li {width: 100%;
               text-align: center;}
      }

    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1 style="text-align: center; margin-bottom: 2rem;"> Portfolio </h1>
      <h2 style="margin-bottom: 2rem;">Engineering Projects</h2>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/projects/${post.id}/`}>
                  <img width={720} height={360} src={post.data.heroImage} alt="" />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="blurb">
                    {post.data.blurb}
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
